version: '3'
services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: codepulse-collector
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
      - ./temp/traces:/tmp/traces
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "55679:55679" # ZPages

  inventory-service:
    build: ./playground/repo-inventory-service
    container_name: inventory-service
    environment:
      - SERVER_PORT=8082
      - TOEL_SERVICE_NAME=inventory-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - JAVA_TOOL_OPTIONS=-javaagent:/opentelemetry-javaagent.jar
    volumes:
      - ./opentelemetry-javaagent.jar:/opentelemetry-javaagent.jar
    ports:
      - "8082:8082"
    depends_on:
      - otel-collector

  payment-service:
    build: ./playground/repo-payment-service
    container_name: payment-service
    environment:
      - SERVER_PORT=8081
      - TOEL_SERVICE_NAME=payment-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - JAVA_TOOL_OPTIONS=-javaagent:/opentelemetry-javaagent.jar
    volumes:
      - ./opentelemetry-javaagent.jar:/opentelemetry-javaagent.jar
    ports:
      - "8081:8081"
    depends_on:
      - otel-collector

  order-service:
    build: ./playground/repo-order-service
    container_name: order-service
    environment:
      - SERVER_PORT=8080
      - TOEL_SERVICE_NAME=order-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - JAVA_TOOL_OPTIONS=-javaagent:/opentelemetry-javaagent.jar
      # Use service names due to Docker networking
      - INVENTORY_URL=http://inventory-service:8082
      - PAYMENT_URL=http://payment-service:8081
    volumes:
      - ./opentelemetry-javaagent.jar:/opentelemetry-javaagent.jar
    ports:
      - "8080:8080"
    depends_on:
      - inventory-service
      - payment-service
