version: '3.8'
services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.91.0
    container_name: codepulse-collector
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
      - ./temp/traces:/tmp/traces
    ports:
      - "4318:4318" # OTLP HTTP
    networks:
      - codepulse-net

  gateway-service:
    build: playground/repo-gateway
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      - JAVA_TOOL_OPTIONS=-javaagent:/app/opentelemetry-javaagent.jar
      - OTEL_SERVICE_NAME=gateway-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_METRICS_EXPORTER=none
      - OTEL_LOGS_EXPORTER=none
    volumes:
      - ./opentelemetry-javaagent.jar:/app/opentelemetry-javaagent.jar
    depends_on:
      - otel-collector
      - auth-service
      - order-service
    networks:
      - codepulse-net

  auth-service:
    build: playground/repo-auth
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      - JAVA_TOOL_OPTIONS=-javaagent:/app/opentelemetry-javaagent.jar
      - OTEL_SERVICE_NAME=auth-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
    volumes:
      - ./opentelemetry-javaagent.jar:/app/opentelemetry-javaagent.jar
    depends_on:
      - otel-collector
    networks:
      - codepulse-net

  product-service:
    build: playground/repo-product
    container_name: product-service
    ports:
      - "8082:8082"
    environment:
      - JAVA_TOOL_OPTIONS=-javaagent:/app/opentelemetry-javaagent.jar
      - OTEL_SERVICE_NAME=product-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
    volumes:
      - ./opentelemetry-javaagent.jar:/app/opentelemetry-javaagent.jar
    depends_on:
      - otel-collector
    networks:
      - codepulse-net

  order-service:
    build: playground/repo-order
    container_name: order-service
    ports:
      - "8083:8083"
    environment:
      - JAVA_TOOL_OPTIONS=-javaagent:/app/opentelemetry-javaagent.jar
      - OTEL_SERVICE_NAME=order-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
    volumes:
      - ./opentelemetry-javaagent.jar:/app/opentelemetry-javaagent.jar
    depends_on:
      - otel-collector
      - product-service
      - payment-service
      - shipping-service
    networks:
      - codepulse-net

  payment-service:
    build: playground/repo-payment
    container_name: payment-service
    ports:
      - "8084:8084"
    environment:
      - JAVA_TOOL_OPTIONS=-javaagent:/app/opentelemetry-javaagent.jar
      - OTEL_SERVICE_NAME=payment-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
    volumes:
      - ./opentelemetry-javaagent.jar:/app/opentelemetry-javaagent.jar
    depends_on:
      - otel-collector
    networks:
      - codepulse-net

  shipping-service:
    build: playground/repo-shipping
    container_name: shipping-service
    ports:
      - "8085:8085"
    environment:
      - JAVA_TOOL_OPTIONS=-javaagent:/app/opentelemetry-javaagent.jar
      - OTEL_SERVICE_NAME=shipping-service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
    volumes:
      - ./opentelemetry-javaagent.jar:/app/opentelemetry-javaagent.jar
    depends_on:
      - otel-collector
    networks:
      - codepulse-net

networks:
  codepulse-net:
    driver: bridge
